<span>Stupid Coaching</span>

<div class="first">
  <p><%= @ask %></p>
  <p><em>-you</em></p>
</div>
<br>
<div class="second">
  <p><%= @answer %></p>
  <p><em>-coach</em></p>
</div>
<div>
  <%= link_to "ask again", root_path, class:"hello" %>
</div>
