
span {
  font-size: 70px;
  padding: 20px;
  margin:20px;
}

.first{
  font-size: 30px;
  font-weight:lighter;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-left: 5px #DDDDDD solid;
  margin: 20px ;
}
.second{
  font-size: 30px;
  font-weight:lighter;
  padding: 20px 20px 20px 20px;
  background-color: #FEFDE1;
  border-left: 5px #DDDDDD solid;
  margin: 20px ;
}

.hello{
  color:pink;
  text-decoration: none;
  font-size: 30px;
  font-weight:lighter;
  padding: 20px 20px 20px 20px;
  background-color: rgb(205, 48, 74);
  border-left: 5px #eb8181 solid;
  margin: 20px ;
}
.hello:hover{
  color:rgb(108, 33, 46);
  text-decoration: none;
  font-size: 30px;
  font-weight:lighter;
  padding: 20px 20px 20px 20px;
  background-color: rgb(205, 48, 74);
  border-left: 5px #eb8181 solid;
  margin: 20px ;
}
.form{
  color:rgb(21, 222, 198);
  text-decoration: none;
  font-size: 30px;
  font-weight:lighter;
  padding: 20px 20px 20px 20px;
  background-color: rgb(29, 75, 14);
  border-left: 5px #ebd681 solid;
  margin: 20px ;
}
